<ion-header>
  <ion-toolbar color = "primary">
    <ion-title size = "full" class="ion-no-padding">Add a new Area</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content size = "full">
  <ion-card>

    <ion-item color = "secondary">
      <ion-label position="floating">Area Name:</ion-label>
      <ion-input type = "text" [(ngModel)] = "areaName"></ion-input>
    </ion-item>
  </ion-card>

    <ion-button *ngIf = "areaName == null" color = "secondary" size ="full" shape = "round">Create</ion-button>
    <ion-button *ngIf = "areaName != null" (click) = "close()" size ="full" shape = "round">Create</ion-button>

</ion-content>