<ion-header mode = "md">
  <ion-toolbar color = "success">
    <ion-back-button slot ="start"></ion-back-button>
    <ion-title>lightdisplay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "dark">
  <ion-card *ngFor='let light of lights' color = "success">
    <ion-card-content>
      <ion-item>
        <ion-label>{{light.lightName}}</ion-label>
        <ion-label>{{light.powerState}}</ion-label>
        <ion-label>{{light.brightness}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- <button ion-button (click) = "addLightsModal()">
    <ion-icon name = "add"></ion-icon>
  </button> -->
</ion-content>
