<ion-header translucent="true" mode = "md">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-list>
      <ion-item>
        <ion-label size ="large">Login</ion-label>
      </ion-item>

      <ion-item>
        <ion-input type="Username" [(ngModel)]="Username" name="Username" placeholder = "Username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="Password" name="Password" placeholder = "Password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox></ion-checkbox>
        <ion-label> Remain logged in</ion-label>
      </ion-item>

      <ion-button (click) = "login()" shape = "round" color = "success" size = "large">
        LOGIN
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>

      <ion-item>
        {{loginAttempts}} login attempts
      </ion-item>
    
    </ion-list>
 
    <app-explore-container name="Login"></app-explore-container>
</ion-content>


