<ion-header mode = "md">
  <ion-toolbar color = "success">
    <ion-back-button slot ="start"></ion-back-button>
    <ion-title size = "cover">Areas</ion-title>
    <ion-button slot = "end" color = "secondary" lines = "none" (click) = "showModal()"> Add Area</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode = "ios">
  <ion-title *ngIf="areas.length == 0" size = "full" class="ion-no-padding"> No Areas to display</ion-title>
  <ion-card *ngFor="let area of areas" size = "full" color = "secondary">
    <ion-card-content>
      <ion-item lines = "none" color = "secondary" size = "full">
        <ion-label size = "full">{{area.areaName}}</ion-label>
        <ion-label *ngIf = "area.switch == false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Off</ion-label>
        <ion-label *ngIf = "area.switch == true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On</ion-label>
        <ion-checkbox [(ngModel)] = "area.switch" (ngModelChange) = "powerStateToggle(area,area.switch)" checked = area.switch (oninput)="powerStateToggle(area, area.switch)"></ion-checkbox>
      </ion-item>
      <ion-button (click)="navToLights(area.areaName)" color = "primary" shape = "round" size = "full">Open {{area.areaName}}</ion-button>
      <ion-item color = "secondary" lines = "none">
        <ion-button (click) = "showScheduleModal(area.areaName)" color = "tertiary" shape = "round" size = "small">Schedule on/off</ion-button>
        <ion-button slot="end"  size = "small" color = "danger">
          <ion-icon size = "medium" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
