<ion-header mode = 'md'>
  <ion-toolbar color = "success">
    <ion-back-button slot ="start"></ion-back-button>
  <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color = "secondary">
    <ion-card-content color = "secondary" mode = "ios">
        <ion-item color = "secondary" lines = "none" size = "full">
          <ion-label>Welcome {{username}}</ion-label>
        </ion-item>
        <ion-button (click)="navToScheduling()" color = "danger" shape = "round" size = "full"> Scheduling</ion-button>
        <ion-button (click)="navToAreas()" color = "primary" shape = "round" size = "full"> Areas</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color = "secondary">
    <ion-card-content color = "secondary">
      <ion-item color = "secondary">
        <ion-label>Power Consumption</ion-label>
      </ion-item>
      <canvas #powerChart height="300" width = "300" color = "primary" ></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
