<ion-header mode = "md">
  <ion-toolbar color = "success">
    <ion-back-button slot ="start"></ion-back-button>
    <ion-title>Scheduled Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">
  <ion-title *ngIf="scheduledEvents.length == 0" size = "full" class="ion-no-padding"> Nothing Scheduled</ion-title>
  <ion-card *ngFor='let event of scheduledEvents' color = "secondary">
    
    <ion-item color = "secondary" lines = "none">
      <ion-label class="ion-text-center" *ngIf = "event.state == true">{{event.area}} Will Turn On at:</ion-label>
      <ion-label class="ion-text-center" *ngIf = "event.state == false">{{event.area}} Will Turn Off at:</ion-label>
    </ion-item>

    <ion-item color = "secondary" lines = "none">
      <ion-label class="ion-text-center">{{ event.time | date: 'hh:mm dd.MMM.yyyy' }}</ion-label>
    </ion-item>

  </ion-card>
</ion-content>
