<ion-header translucent="true" mode = "md">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="Name" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>

      <ion-item lines = "none">
        <ion-checkbox></ion-checkbox>
        <ion-label> Show Notifications</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Reminder</ion-label>
      </ion-item>

      <ion-item sies = "full" lines = "none">
        <ion-button size = "cover" id="date">
          <ion-input value="{{ date | date: 'hh:mm dd.MMM.yyyy' }}"  class="ion-text-end">
          </ion-input>
          <ion-popover trigger="date" size="fixed" reference="trigger">
            <ng-template>
              <ion-datetime
              presentation="time-date"
              [(ngModel)]="dateTimeToggle"
              (ngModelChange) = "setOnTime($event)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-button>
      </ion-item>
    </ion-list>
</ion-content>


