<ion-header translucent="true" mode = "md">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="Username" [(ngModel)]="setting.name"  name="setting.name" (ngModelChange) = "setName($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox [(ngModel)]="setting.showNotif" checked = setting.showNotif (ngModelChange) = "setNotif($event)"></ion-checkbox>
        <ion-label> Show notifications</ion-label>
      </ion-item>

      <ion-button size = "full" id="date" shape = "round">
        <ion-input value="Reminder: {{ setting.reminder | date: 'hh:mm dd.MMM.yyyy' }}">
        </ion-input>
        <ion-popover trigger="date" reference="trigger">
          <ng-template>
            <ion-datetime
            presentation="time-date"
            [(ngModel)]="setting.reminder"
            (ngModelChange) = "setReminder($event)"
            size = "full"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-button>
      <ion-button size = "full" (click) = clearSettings()>clear settings</ion-button>
    <ion-item>
      <!-- <ion-button #fileInput type="file" accept="image/*" (change)="imageSelected(fileInput.files)" multiple>add image</ion-button> -->
    </ion-item>
    </ion-list>
</ion-content>
