<ion-header translucent="true" mode = "md"></ion-header>

<ion-content fullscreen="true" mode = 'md'>
  <div class="flex-center">
    <ion-card color = "dark">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
        <ion-card-subtitle>Enter login details</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content color = "dark" mode = "ios">

        <ion-item lines = "none" size = 8 color = "dark">
          {{loginAttempts}} login attempts
        </ion-item>

        <ion-item color = "dark">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="Username" [(ngModel)]="username" name="Username"></ion-input>
        </ion-item>

        <ion-item color = "dark">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="Password"></ion-input>
        </ion-item>
        
        <ion-item color = "dark">
          <ion-checkbox></ion-checkbox>
          <ion-label style = "float: right;">Remain logged in</ion-label>
        </ion-item>

        <ion-button (click) = "login()" shape = "round" color = "success" size = "full">
          LOGIN
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>     
  
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
